<!-- Author: 3y3l3ss0ur0b0r0s -->
<!-- Current Date: 01/04/2025 -->
<!-- Project Name: my-app -->
<!-- Project Purpose:  Made to practice WGU D280 JavaScript Programming concepts from the Angular Overview chapter -->

<nav id="navMenu">
  <ul>
    <li><a class="menuItem" href="/home">Home</a></li>
    <li><a class="menuItem" href="/services">Services</a></li>
    <li><a class="menuItem" href="/projects">Projects</a></li>
    <li><a class="menuItem" href="/contact">Contact</a></li>
  </ul>
</nav>

<router-outlet />