<div class="resume">
    <div class="personalInfo">
      <h1>Frankie Frye</h1>
      <address>5 Twisting Horse Dr<br>Copper, Virginia 23999<br>FrankieFrye&#64;D280.io</address>
    </div>

    <div class="summary">
      <h2>Summary</h2>
      <p>Solution-driven collaborator with 1+ years of experience with Agile workflow
      </p>
    </div>
        <div class="education">
      <h2>Education</h2>
      <p><span class="subsectionTitle">Western Governors University</span> <span class="educationDates">12/2023 to Present</span><br>
        Bachelor of Science in Software Engineering
      </p>
    </div>
       
    <div class="experience">
      <h2>Experience</h2>
      <p><span class="subsectionTitle">BigOnlineStore, Jr QA Automation Engineer 1</span> <span class="employmentDates">11/2024 to Present</span></p>
      <ul>
        <li>Wrote and maintained 100+ automated smoke and regression testing scripts for 2 BigOnlineStore web apps</li>
        <li>Wrote and maintained documentation for new workflows and contributions to the automated testing framework</li>
        <li>Regularly communicated with team members to meet automation goals</li>
      </ul>
    </div>
  </div>