/* Resources:
* * Color Palette: https://www.color-hex.com/color-palette/1054140
*/

:root {
    --reddish: #ff6b6b;
    --yellowish: #ffd93d;
    --greenish: #6bcb77;
    --bluish: #4d96ff;
    --purplish: #a66cff;
    --nav-color: var(--purplish);
    --home-color: var(--bluish);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}